.App__header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgba(0, 81, 255, 0.76);
    max-height: 60px;
    min-height: 50px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.486);
    width: 100%;
    background-color: #ccc;
}
