.input {
    display: flex;
    position: relative;
    align-items: center;
}

.input_box {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    outline: none;
}

.Btn__submit {
    position: absolute;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
    background-color: blue;
    font-size: 20px;
    color: white;
    border: none;
    transition: 0.2s;
    cursor: pointer;
}

.Btn__submit:hover {
    background-color: #388ae2;
    box-shadow: 0 0 5px black;
}

.Btn__submit:active {
    transform: scale(0.8);
}

.Todo__list {
    margin-top: 10px;
    width: 400px;
}

.Single__todo {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 15px;
    background-color: #ccc;
}

.Icon {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    font-size: 30px;
    margin-right: 10px;
    color: blue;
    cursor: pointer;
    transition: 0.3s;
}
.Icon:hover {
    background-color: #388ae2;
}
.Icon:active {
    transform: scale(0.8);
}

.Edit__input {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    width: 200px;
    height: 40px;
    outline: none;
}
